//Her legger du all stylingen som har med AddForm.jsx å gjøre (labels, inputs, knapper).

.addform{
    display: flex;
    flex-direction: row;
    gap: 1px;
    max-width: 400;
    flex-wrap: wrap;
    margin: 5px;

    label{
        font-size: 1.5rem;
        color: #000;
        margin-top: 10px;
        width: 100%;
    }

    input{
        padding: 12px 15px;
        border: 1px solid #000;
        border-radius: 6px;
        font-size: 1rem;
        width: 100%;
        background-color: #fff;
        color: #000;
    }

    button{
        background-color: #000;
        color: #fff;
        padding: 10px;
        //border: none;
        border-radius: 12px;
        width: 100%;
        font-size: 1.3rem;
        margin-top: 15px;
    }
}