//Her legger du stylingen for ShoppingList.jsx og ShoppingItem.jsx (ul, li, checkboxer).


.shopping-list {
    list-style: none; /* Fjerner kulepunkter */
    padding: 0;
    width: 100%;
}

.shopping-item {
    display: flex;       
    align-items: center;  
    gap: 1rem;             
    width: 100%;
}

.shopping-item span{
    flex-grow: 1;
    text-align: left;
}

.antall{
    width: 50px;
    text-align: center;
}